.gitignore
.Rbuildignore
.GTGR.Rproj
.Rproj.user
.Rhistory
.DS_Store
.RData
*.Ruserdata
Files/.DS_Store
Files/Preregistrations/*.html
Files/Preregistrations/*.md
Files/Preregistrations/*.doc
Files/Preregistrations/*.docx
Files/Preregistrations/*.tex
Files/Preregistrations/*.log
Files/.DS_Store
Files/.DS_Store
Files/.DS_Store
.DS_Store
